body {
 background: rgb(246, 255, 254);
}

#window {
    position: relative;
    margin: 5% auto;
    width: 400px;
    height: 500px;
    border: 2px solid #000;
    z-index: 3;
}

#windowTwo {
    position: relative;
    width : 400px;
    height: 80px;
    border: 2px solid rgb(0, 0, 0);
    margin:  -5% auto;

}

#user {
    position: absolute;
    top : 17%;
    left:  5px;
}

#imgInWindow {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#instagramHert {
    position: absolute;
    display: block;
    width : 150px;
    left: 30%;
    top: 25%;
}

#likeBtn {
    position: absolute;
    width: 30px;
}

#commentBtn {
    position: absolute;
    width: 40px;
    left: 9%;
    top: -9%;
}

#shareBtn {
    position: absolute;
    width: 30px;
    left: 20%;
}